# https://docs.astral.sh/ruff/configuration/
indent-width = 4
line-length = 100
target-version = "py312"

exclude = [".pytest_cache", ".ruff_cache", ".venv", "__pycache__"]
include = ["pyproject.toml", "plugins/**/*.py"]

[format]
  docstring-code-format = true
  docstring-code-line-length = "dynamic"
  indent-style = "space"
  line-ending = "auto"
  quote-style = "double"
  skip-magic-trailing-comma = false
